<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> </title>

	<div class="row">
		<header>
			<div class="col-md-4 col-md-offset-4 center-text">
					<h1>weatherornot</h1>
			</div>
						
			<div class="col-md-4 col-md-offset-4 center-text">
					<label>
						Zip:
						<input type="text" id="zipcode_1" class="zipcode_1" placeholder="(e.g. : 10175, 07003, etc)" name="zip" />
					</label>
					<button id="search_1">Search</button>
			</div>

			
			<div class="col-md-2 col-xs-offset-9 center-text">
					<p><span> <a href="/login"> Log In </a> <br>
					</span><a href="/register"> Sign Up </a></p> 
			</div>

		</header>
	</div>


<hr>
</head>
<body>
   


<!-- weather content goes into empty div -->

<div id="customSpinner" class="customSpinner"> 
</div>






</body>
</html>