<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>

	<h2> Hello <%= @user.first_name %>, this is Weather or Not.</h2>


<!-- logout -->
	<form method="POST" action="/session">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<input name="_method" value="DELETE" type="hidden">
		<button>Logout</button>
	</form>

<br>

<!-- search by zip code -->
<form action="/forecast" method="GET">
	<label>
		Zip:
		<input type="text" id="zipcode_search" placeholder="(e.g. : 101075, 07003, etc)" name="zip" />
	</label>
	<button id="submit">Submit</button>
</form>

<!-- weather content goes into empty div -->
<div id="weather">

</div>


</body>
</html>