<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>

	<h2> Hello <%= @user.first_name %>, this is Weather or Not.</h2>


<!-- logout -->
	<form method="POST" action="/session">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<input name="_method" value="DELETE" type="hidden">
		<button>Logout</button>
	</form>

<br>

<!-- make this search via zip code -->
	<input name="text" placeholder="Zip Code">
	<button> Search </button> 
	
</body>
</html>