<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> </title>

</head>
<body>

<!-- search by zip code -->
<!-- <form> -->	
	<label>
		Zip:
		<input type="text" id="zipcode" class="zipcode" placeholder="(e.g. : 101075, 07003, etc)" name="zip" />
	</label>
	<button id="search">Search</button>
<!-- </form> -->


<!-- weather content goes into empty div -->
<ul id="weather" class="weather">

</ul>


</body>
</html>