<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>

</head>
<body>

<h2> Hello <%= @user.first_name %>, this is Weather or Not.</h2>


<!-- logout -->
	<form method="POST" action="/session">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<input name="_method" value="DELETE" type="hidden">
		<button>Logout</button>
	</form>

<br>

<!-- search by zip code -->
<!-- <form> -->	
	<label>
		Zip:
		<input type="text" id="zipcode" class="zipcode" placeholder="(e.g. : 101075, 07003, etc)" name="zip" />
	</label>
	<button id="search">Search</button>
<!-- </form> -->


<!-- weather content goes into empty div -->
<ul id="weather" class="weather">

</ul>


</body>
</html>